@import "variables";
@import "sidebar";
@import "chat";
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.d-editor-textarea-wrapper,
.select-kit-header {
  border-radius: var(--mint-border-radius);
}

:root {
  --d-input-border-radius: var(--mint-border-radius);
}

.d-header {
  height: 5em;
  box-shadow: none;
}

.alert.alert-info {
  border-radius: 10px;
}

.custom-homepage-columns {
  margin: 2em 0 2em 0;
  padding: 0;
  .col {
    position: relative;
    border-radius: var(--mint-border-radius);
    @include mint-card-bg;
    padding: 2em 2em 1em;
    border-top: 8px solid var(--tertiary);
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, 0.1),
      0 12px 90px 0 rgba(133, 255, 103, 0.1);
    .header-wrapper {
      background-color: transparent;
      a h2 {
        color: var(--primary);
      }
      .btn-primary {
        display: none;
      }
    }
    .btn-more {
      color: var(--secondary);
      background: var(--tertiary);
      transition: all 0.3s linear;
      border-radius: var(--mint-border-radius);
      text-transform: uppercase;
      border: 1px solid var(--tertiary);
      &:hover {
        color: var(--secondary);
        background: var(--tertiary-hover);
      }
    }
  }

  .loading-container:not(:has(.spinner)) {
    min-height: unset;
  }
}

.navigation-categories .search-banner {
  border-radius: var(--mint-border-radius);
  height: 350px;
  box-sizing: border-box;
  padding: 2.5em 0 3em;
  margin: 1em auto;
  max-width: 1110px;
}

.category-box-inner {
  @include mint-card-bg;
}

.navigation-topics {
  .container.list-container {
    border-radius: var(--mint-border-radius);
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, 0.1),
      0 12px 90px 0 rgba(133, 255, 103, 0.1);
    padding: 2em;
    @include mint-card-bg;
    border-top: 8px solid var(--tertiary);
    margin-top: 0.8em;
  }
}

.search-widget .search-context {
  padding: 10px;
  background-color: var(--tertiary-medium);
  border-radius: var(--mint-border-radius);
}

.search-menu .search-context .show-help {
  color: var(--primary-very-low);
}
.search-menu{
  margin-top: 10px;
}
.search-menu .search-input {
  border: 0;
}
.search-input{
  margin-top: 10px;
}
.topic-list .views {
  width: 5.3em;
}
.topic-list .posts {
  width: 5.3em;
}
.badge-category__wrapper .badge-category__name {
  color: currentColor;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
  font-weight: 400;
}
.badge-category__name{
  margin-top: 10px;
  font-weight: 400;
}
a span:first-of-type {
  font-weight: normal;
}
.num .views{
font-weight: bold;
}
.search-menu {
  margin-top: 20px;
}
.post-activity span.relative-date{
font-weight: 400;
}
.btn-link .posts-map .badge-posts {
font-weight: 400;
}
.badge-category__name{
  margin-top: 10px;
  font-weight: 400;
}
.main-link .clearfix .topic-list-data{
padding: 20px;
}
.custom-homepage-columns:nth-child(2){
display: none;
}
.custom-footer{
  margin-top: 30px;

}
.menu-panel .d-label {
  color: var(--primary);
}


a {
  color: var(--tertiary-hover);
}

.btn-link .posts-map .badge-posts  > span.number{
  font-weight: 400;
}
.num .views  .topic-list-data > span.number{
  font-weight: bold;
}
.topic-list .link-bottom-line {
  font-size: var(--font-down-1);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: .5em;
}
.category-boxes {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 32% 32% 32%;
  border-radius: var(--mint-border-radius);
  .category-box {
    width: 100%;
    margin: 0;
    overflow: hidden;
    border: none;
    border-top: 8px solid;
    background: var(--secondary);
    border-radius: var(--mint-border-radius);
    box-shadow: 0px 2px 3px 0px rgba(2, 47, 57, 0.14);
    .category-box-inner {
      border: none;
      padding: 0;
      .category-details {
        padding: 2em;
      }
    }
    &:hover {
      box-shadow: 0px 40px 30px 0px rgba(2, 47, 57, 0.1);
      transform: translateY(-2px);
    }
  }
}
a span:first-of-type {
 font-weight: 400;
}
@media (max-width: 960px) {
  .category-boxes.with-logos.with-subcategories {
    grid-template-columns: 1fr;
  }
}

.category-list-item.category {
  border-radius: var(--mint-border-radius);
  border-right: 1px solid var(--primary-low) !important;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.59em 2em 0.59em;
  background: var(--primary-very-low);
}

#create-topic {
  color: var(--secondary);
  background: var(--tertiary);
  transition: all 0.3s linear;
  border-radius: var(--mint-border-radius);
  text-transform: uppercase;
  border: 2px solid var(--tertiary);
  .fa {
    color: var(--secondary);
  }
  &:hover {
    background: var(--tertiary);
    color: var(--secondary);
    box-shadow: var(--mint-hover-shadow);
    transition: all 0.3s linear;
    border-radius: var(--mint-border-radius);
    .fa {
      color: var(--secondary);
    }
  }
}

.open .grippie {
  background: var(--tertiary);
}

.options.toolbar-popup-menu-options {
  button.single-select-header.dropdown-select-box-header {
    background: transparent;
    border-radius: none;
    border: none;
    &:hover {
      background: var(--tertiary);
      border-radius: 0;
    }
  }
}
.search-menu a.search-icon {
  margin-top: 10px !important;
}

.name{
  text-transform: capitalize;
}
.list-controls .combo-box .combo-box-header {
  border: none;
  border-radius: var(--mint-border-radius);
  @include mint-card-bg;
}

.menu-panel .panel-body-bottom .btn {
  svg {
    color: var(--tertiary);
  }
  &:hover {
    background: var(--tertiary);
    color: var(--secondary);
  }
}

.nav-pills li a {
  border: 1px solid transparent;
  border-radius: var(--mint-border-radius);
  &:hover {
    border-radius: var(--mint-border-radius);
    transition: all 0.3s linear;
    background-color: transparent;
    color: var(--tertiary);
    border: 1px dashed var(--tertiary);
  }
  &.active {
    border-radius: var(--mint-border-radius);
    transition: all 0.3s linear;
    background: var(--mint-color-mint);
    color: var(--secondary);
    border: 1px solid var(--mint-color-mint);
  }
}

.select-kit.dropdown-select-box .dropdown-select-box-header {
  background: var(--tertiary);
  border-radius: var(--mint-border-radius);
  border: 1px solid var(--tertiary);
  color: var(--secondary);
  svg {
    color: var(--secondary);
    &:hover {
      color: var(--secondary);
    }
  }
}

.d-editor-button-bar
  .select-kit.dropdown-select-box
  .dropdown-select-box-header {
  background: transparent;
  color: var(--primary-medium);
  border: 1px solid transparent;
  border-radius: 0;
  svg {
    color: currentColor;
  }
  &:hover {
    color: var(--secondary);
    background: var(--tertiary-hover);
    border: 1px solid var(--tertiary-hover);
    border-radius: 5px;
  }
}

.discourse-no-touch .btn:hover .d-icon,
.discourse-no-touch .btn.btn-hover .d-icon {
  color: var(--tertiary-hover);
}

.discourse-no-touch .btn:not(.btn-flat):hover,
.discourse-no-touch .btn:not(.btn-flat).btn-hover {
  color: var(--secondary);
  background: var(--tertiary-hover);
  border-radius: 5px;
  .fa {
    color: var(--secondary);
  }
}

.menu-panel .widget-link:hover,
.menu-panel .widget-link:focus,
.menu-panel .categories-link:hover,
.menu-panel .categories-link:focus {
  background-color: var(--tertiary-low);
}

.btn-default {
  color: var(--secondary);
  background: var(--tertiary);
  transition: all 0.3s linear;
  border-radius: var(--mint-border-radius);
  text-transform: uppercase;
  border: 1px solid var(--tertiary);
  .fa {
    color: var(--secondary);
  }
}

.btn-primary {
  border-radius: var(--mint-border-radius);
}

.discourse-no-touch .btn-danger:hover {
  background: var(--danger-hover);
}

.create {
  border-radius: var(--mint-border-radius);
}

.select-kit .select-kit-row.is-selected {
  background-color: var(--secondary-very-high);
}

.modal-inner-container,
.edit-category-footer {
  .btn-primary {
    border-radius: var(--mint-border-radius);
  }
}

.user-menu .quick-access-panel li:hover {
  background-color: var(--tertiary-low);
}

a:hover {
  color: var(--tertiary-hover);
}

.image-upload-controls .btn-default {
  border: 1px solid var(--secondary);
  .fa {
    color: var(--secondary);
  }
}

.admin-controls,
.email-template,
.admin-container {
  .nav-pills > li a.active {
    background: var(--tertiary);
    color: var(--secondary);
  }
  .btn-primary {
    border-radius: var(--mint-border-radius);
  }
}

.custom-search-banner-wrap {
  border-radius: var(--mint-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-search-banner-wrap h1,
.custom-search-banner-wrap p {
  color: var(--primary-very-low);
}

.btn[href] {
  color: var(--secondary);
}

summary.select-kit-header.single-select-header.dropdown-select-box-header {
  padding: 0.5em;
}

.search-container .search-advanced-sidebar {
  .search-advanced-title {
    background: var(--tertiary);
    color: var(--secondary);
  }
  .search-advanced-filters {
    border: 1px dashed var(--tertiary);
  }
}

// Control order of plugin connectors
.search-banner {
  display: none;
}

.showcased-topic-list {
  display: none;
}

.mint-component-extensions {
  .search-banner,
  .showcased-topic-list {
    display: block;
  }
}
a span:first-of-type {
  font-weight: bold;
}

  .stat-banner__wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    background: none;
}
.stat-banner__title {
  text-align: center;
  font-size: var(--font-up-2);
  margin-bottom: 1.5em;
  font-weight: 600;
}
.stat-banner__wrapper li>* {
  align-items: center;
  gap: 1.5em;
  min-width: 0;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  
}
.search-menu{
  margin: 10px 0;
}
.topic-statuses + a{
  font-weight: bold !important;
}

.stat-banner__wrapper li {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5em;
  white-space: nowrap;
  overflow: hidden;
  background: #F4F6F5;
  padding: 30px;
  border-radius: 10px;
}
.custom-search-banner-wrap .btn.search-icon:not(.has-search-button-text)+.search-menu-container .search-input {
  padding-left: 1.75em;
  width: 35vw;
  margin-top: 20px;
}
span[data-format="tiny"]{
  font-weight: 400;
}
.navigation-topics .container.list-container {
  border-radius: var(--mint-border-radius);
  box-shadow: 0 8px 60px 0 rgba(103,151,255,.1),0 12px 90px 0 rgba(133,255,103,.1);
  padding: 3em;
  background: var(--primary-very-low);
  border-top: 8px solid var(--tertiary);
  margin-top: .8em;
}
.num .views  .topic-list-data{
  font-weight: bold;
}
.btn-link .posts-map .badge-posts {
  font-weight: 400;
}
.num .views  .topic-list-data span.number{
font-weight: bold !important;
}
@media screen and (max-width: 800px) {
  .category-boxes {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 45% 45%;
    border-radius: var(--mint-border-radius);
  }
  .stat-banner__wrapper ul {
    grid-template-columns: 100%;
}
}
.topic-list .topic-list-data {
  padding: 1.1em .33em;
}
.topic-list .num .badge-posts {
  color: inherit;
  padding: 15px 5px;
  font-weight: 400;
}
.btn .no-text .btn-icon .btn .search-icon {
  margin-top: 5px !important;
}
.num .views  .topic-list-data span{
font-weight: bold;
}
.custom-search-banner-wrap .btn.search-icon:not(.has-search-button-text) {
  z-index: 2;
  background: rgba(0,0,0,0);
  line-height: 1;
  color: var(--primary-medium);
  height: 100%;
  padding-right: .25em;
  position: absolute;
  margin-top: 5px;
}
.custom-search-banner-wrap .results {
  box-sizing: border-box;
  background: var(--secondary);
  box-shadow: 0 5px 10px rgba(0,0,0,.15);
  position: absolute;
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 4.75em;
  right: 0;
  padding: .5em;
}
@media screen and (max-width: 500px) {
  .badge-category__name{
    // width: 55px;
  }
  .posts-map span{
    display: none;
  }
  .relative-date{
    display: none;
  }
  .posts .sortable .num .topic-list-data span{
    margin-right: 10px;
  }
  .btn .no-text .btn-icon .btn .search-icon {
      font-size: 15px !important;
      margin-top: 5px !important;
  }
  .age .activity a{
    display: none;
  }
  .category-boxes {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 100%;
    border-radius: var(--mint-border-radius);
 
  }
  .btn .no-text .btn-icon .btn .search-icon{
      margin-top: 5px !important;
      font-size: 17px !important;
  
  }
  .custom-search-banner-wrap .btn.search-icon:not(.has-search-button-text) {
    z-index: 2;
    background: rgba(0,0,0,0);
    line-height: 1;
    color: var(--primary-medium);
    height: 100%;
    padding-right: .25em;
    position: absolute;
    margin-top: 5px;
}
  .posts .sortable .num .topic-list-data span:first-child{
    margin-right: 10px;
  }
  .stat-banner__wrapper ul {
    grid-template-columns: 100%;
}
.custom-search-banner-wrap .btn.search-icon:not(.has-search-button-text)+.search-menu-container .search-input {
  padding-left: 1.75em;
  width: 82vw;
}
.search-menu{
  margin: 10px 0;
}
.chat-header-icon,.search-dropdown,.hamburger-dropdown{
  font-size: 14px;
}
.pull-left img{
  height: 35px;
  width: 35px;
}
.topic-list .topic-list-data {
  padding: 15px 0;
  max-width: 300px;
}
}


